body {
    background: #acc;
}

.container {
    margin: 0px auto;
    width: 960px;
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    padding: 20px;
}

div {
    border-radius: 9px;
    margin-top: 10px;
}

.header, .footer {
    padding: 10px;
    color: #fff;
    background: #759;
}

h1 {
    color: #c00;
}

h3 {
    color: #777;
}

.friends, .wall {
    padding: 10px;
    width: 45%;
}

.friends {
    float: left;
    background-color: #fcc;
}

.friends a {
    padding: 10px;
    display: block;
}

.wall {
    float: right;
    background-color: #cfc;
}

.wall div {
    padding: 10px;
    background-color: #eee;
}

.wall span {
    font-family: cursive;
}

.clear {
    clear: both;
}

a {
    font-weight: bold;
    color: #04c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
